body {
    background-color: whitesmoke;
}

.card_row {
    margin-bottom: 0px;
}

/* ---------- General Styling ---------- */

.section_header {
    padding: 10px 0px;
}

.select-wrapper input.select-dropdown{
    text-align: center;
}

#recipe_password {
    margin-top: 20px;
}

.recipe_list {
    margin-top: 0.5rem;
}

.recipe_list {
    margin: 0px;
    padding: 5px 20px 5px 5px
}
/* ---------- Table Styling ---------- */

td {
    padding: 5px 5px;
}

/* td:nth-child(1) {
    width: 10%;
    text-align: center;
}

td:nth-child(2) {
    width: 225%;
}

td:nth-child(3) {
    width: 25%
}

#current_ingredients tr td:nth-child(1) {
    width: 120px;
    text-align: left;
}

#current_ingredients tr td:nth-child(2) {
    width: 100%;
}

#current_ingredients tr td:nth-child(3) {
    width: 25%;
} */



.bottom_label {
    position: inherit !important;
}

/* ---------- Button Styling --------- */

.table_btn {
    box-shadow: none;
    -webkit-box-shadow: none;
}

#recipe_submit_btn {
    margin-top: 20px;
}