{% extends 'base.html' %}

{% block content %}
<h3>Add Recipe</h3>

<div class="row">
    <h5 class="section_header">General Info</h5>
    <div class="divider"></div>
    <div class="section">

        <div class="input-field col s12 m6">
            <input id="recipe_name" name="recipe_name" type="text" class="validate required">
            <label for="recipe_name">Recipe Name</label>
        </div>

        <div class="input-field col s6 m4">
            <select id="recipe_category" required>
                <option id="value="" disabled selected>Choose a Category</option>
                    {% for cat in categories %}
                    <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                {% endfor %}
            </select>
            <label>Recipe Category</label>
        </div>

        <div class="input-field col s6 m2 required">
            <select id="recipe_servings">
                <option disabled selected>0</option>
                {% for i in range(1, 9) %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
            <label>Serving Size</label>
        </div>

        <div class="input-field col s12">
            <input id="recipe_img" name="recipe_img" type="text" class="validate required tooltipped" data-position="top"
            data-tooltip="Insert the URL of an image to add it to the recipe. </br>Make sure that you have legal right to use the image that you submit.</br></br>Example: https://images.pexels.com/photos/890507/pexels-photo-890507.jpeg">
            <label for="recipe_img">Image URL</label>
        </div>

        <div class="input-field col s12">
            <textarea class="materialize-textarea" id="recipe_description" name="recipe_description" data-length="200"
                required></textarea>
            <label for="recipe_description">Recipe Description</label>
        </div>

    </div>

    <h5 class="section_header">Ingredients</h5>
    <div class="divider"></div>
    <div class="section">

        <div class="row">

            <div class="col s12 m6">

                <div class="card teal">

                    <div class="card-content white-text">
                        <span class="card-title">Add Ingredients</span>
                        <div class="row card_row">
                            <div class="col s6 m6">
                                <input id="add_ingredient_amount" type="text" class="validate style_input" form="null">
                                <label for="add_ingredient_amount" class="style_input_label">Amount</label>
                            </div>

                            <div class="col s6 m6">
                                <select id="add_ingredient_measure" class="validate" form="null">
                                    <option class="center_select" value="" disabled selected>-</option>
                                    <option class="center_select" value="g">g</option>
                                    <option class="center_select" value="ml">ml</option>
                                    <option class="center_select" value="tsp">tsp</option>
                                    <option class="center_select" value="tbsp">tbsp</option>
                                    <option class="center_select" value="cup">cup</option>
                                    <option class="center_select" value="oz">oz</option>
                                    <option class="center_select" value="fl oz">fl oz</option>
                                </select>
                                <label class="bottom_label">Measure</label>
                            </div>

                            <div class="col s12 m12 l6">
                                <input id="add_ingredient_name" type="text" class="validate style_input" form="null">
                                <label for="add_ingredient_name" class="style_input_label">Ingredient</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a class="btn-floating btn-medium deep-orange darken-4 waves-effect waves-light btn"
                            id="add_ingredients_btn"><i class="material-icons">add</i></a>
                    </div>
                </div>
            </div>


            <div class="col s12 m6" id="current_ingredients"></div>

        </div>
    </div>

    <h5 class="section_header">Equipment</h5>
    <div class="divider"></div>
    <div class="section">

        <div class="row">

            <div class="col s12 m6">

                <div class="card teal">

                    <div class="card-content white-text">
                        <span class="card-title">Add Equipment</span>

                        <div class="row card_row">
                            <div class="col s12">
                                <input id="add_equipment" type="text" class="validate style_input" form="null">
                                <label for="add_equipment" class="style_input_label">Equipment</label>
                            </div>
                        </div>

                    </div>
                    <div class="card-action">
                        <a class="btn-floating btn-medium deep-orange darken-4 waves-effect waves-light btn"
                            id="add_equipment_btn"><i class="material-icons">add</i></a>
                    </div>
                </div>
            </div>


            <div class="col s12 m6" id="current_equipment"></div>

        </div>
    </div>

    <h5 class="section_header">Preperation</h5>
    <div class="divider"></div>
    <div class="section">

        <div class="row">

            <div class="col s12 m6">

                <div class="card teal">

                    <div class="card-content white-text">
                        <span class="card-title">Add Preperation</span>

                        <div class="row card_row">
                            <div class="col s12">
                                <textarea class="materialize-textarea validate style_input" id="add_preperation" type="text"
                                    form="null"></textarea>
                                <label for="add_preperation" class="style_input_label">Preperation</label>
                            </div>
                        </div>

                    </div>
                    <div class="card-action">
                        <a class="btn-floating btn-medium deep-orange darken-4 waves-effect waves-light btn"
                            id="add_preperation_btn"><i class="material-icons">add</i></a>
                    </div>
                </div>
            </div>


            <div class="col s12 m6" id="current_preperation"></div>

        </div>
    </div>

    <h5 class="section_header">Cooking Steps</h5>
    <div class="divider"></div>
    <div class="section">

        <div class="row">

            <div class="col s12 m6">

                <div class="card teal">

                    <div class="card-content white-text">
                        <span class="card-title">Add Cooking Step</span>

                        <div class="row card_row">
                            <div class="col s12">
                                <textarea class="materialize-textarea style_input" id="add_cooking_step" type="text" form="null"></textarea>
                                <label for="add_cooking_step" class="style_input_label">Cooking Step</label>
                            </div>
                        </div>

                    </div>
                    <div class="card-action">
                        <a class="btn-floating btn-medium deep-orange darken-4 waves-effect waves-light btn"
                            id="add_cooking_step_btn"><i class="material-icons">add</i></a>
                    </div>
                </div>
            </div>


            <div class="col s12 m6" id="current_cooking_step"></div>

        </div>
    </div>

    <div class="divider"></div>

    <div class="col s12 m4">
        <input id="recipe_password" type="text" class="validate tooltipped" data-position="top"
            data-tooltip="To edit or delete the recipe in the future you need to set a recipe password<br>!! This is <strong>not</strong> stored securely. use something basic !!">
        <label for="recipe_password">Recipe Password</label>
    </div>

    <div class="col s12">
        <form id="add_recipe_form" action="/submit_recipe" method="POST">
            <input type="hidden" id="add_recipe_json" name="add_recipe_json" value="">
        </form>
        <button class="btn waves-effect waves-light" id="recipe_submit_btn" type="submit" name="action"
            onClick="submit_recipe()">Add Recipe<i class="material-icons right">playlist_add</i></button>
    </div>
</div>

{% endblock %}