{% extends 'base.html' %}

{% block content %}

<h3>{{ recipe.name }}</h3>
<div class="row">

    <div class="col s12 m4" id="view_recipe_left">
        <div class="card teal">
            <div class="card-content white-text">


                <span class="card-title">Ingredients</span>
                {% for i, ingredient in recipe['ingredients'].items() %}
                <div class="row view_left_list valign-wrapper">
                    <div class="col s4">{{ingredient['amount']}} {{ingredient['measure']}}</div>
                    <div class="col s8">{{ingredient['name']}}</div>
                </div>
                {% endfor %}

                <div class="divider"></div>

                <span class="card-title">Equipment</span>
                {% for i, equipment in recipe['equipment'].items() %}
                <div class="row view_left_list valign-wrapper">
                    <div class="col s12">{{equipment['equipment']}}</div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="col s12 m8" id="view_recipe_right">
        <div class="section">
            <h6>Preperation</h6>
            {% for i, preperation in recipe['preperation'].items() %}
            <div class="row recipe_list">
                <div class="col s1 right-align"><strong>{{i}}.</strong></div>
                <div class="col s11 valign-wrapper">{{preperation['preperation']}}</div>
            </div>
            {% endfor %}
        </div>

        <div class="section">
            <h6>Cooking Steps</h6>
            {% for i, cooking_steps in recipe['cooking_steps'].items() %}
            <div class="row recipe_list">
                <div class="col s1 right-align"><strong>{{i}}.</strong></div>
                <div class="col s11 valign-wrapper">{{cooking_steps['cooking_step']}}</div>
            </div>
            {% endfor %}
        </div>

        <!-- Delete Function Modal-->
        <a class="waves-effect waves-light btn-small modal-trigger" href="#modal_edit">Edit Recipe</a>

        <a class="waves-effect waves-light btn-small red modal-trigger" href="#modal_del">Delete Recipe</a>

        <!-- Modal Structure -->
        <div id="modal_edit" class="modal">
            <div class="modal-content">
                <div class="row">
                    <div class="col s12">
                        <form action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                            <input id="edit_recipe_pwd" type="text" class="validate" name="edit_recipe_pwd"
                                placeholder="Enter Recipe Password">
                            <label for="edit_recipe_pwd">Password</label>

                            <button type="submit" class="waves-effect waves-light btn-small">Edit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal_del" class="modal">
            <div class="modal-content">
                <div class="row">
                    <div class="col s12">
                            <input id="del_recipe_pwd" type="text" class="validate" placeholder="Enter Recipe Password">
                            <label for="del_recipe_pwd">Password</label>
                            <a class="waves-effect waves-light btn-small red" onclick="del_recipe()">Delete</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}